#statements_area{
	
}

#home_header{
	text-align:center;
}

#template_selection{
	text-align:center;
}

#profile_pic{
	margin-left:85%;
	border-radius:50%;
}

#nav_menu{
	border:none;
	width:18px;
}

h1{
	font-family: 'Archivo Narrow', sans-serif;
	text-align:center;
	font-size:5em;
	
}
#pricing{
	font-size:4em;
	text-align:center;
}

#login_area{
	text-align:center;
}

#full_access{
	font-family: 'Archivo Narrow', sans-serif;
	text-align:center;
}
#full_access a{
	text-decoration:none;
}
#check-container{
	margin-left:auto;
	margin-right:auto;
	background-image: url("/static/template1.jpg");
	background-repeat: no-repeat;
	width:980px;
	height:400px;
	
}
.transparent-checkout input{
	border:2px solid transparent;
}
#check-checkout{
	margin-left:auto;
	margin-right:auto;
	background-image: url("thecheckstub.jpg");
	background-repeat: no-repeat;
	width:980px;
	height:400px;
	
}

#top-bar{
	width:980px;
	height:50px;
	padding-top: 80px;
}

#emp_name{
	width:38%;
}

#rep_period{
	width:18%;
	margin-left:2%;
}

#name_address{
	/* width:370px; */
	/* padding:0px; */
	width: 90%;
	border:none;
	margin-left:2px;
}

#social{
	width:14%;
}

#ssn{
/* width:104px; */
/* padding: 0px; */
border:none;
float:right;
/* margin-left:40px; */
}

#reporting_period{
	/* width:165px; */
	/* padding:0px; */
	border:none; 
	
	margin-left:10%; 
}
#pay_date_span{
	width:9%;
	margin-left:2.5%;
}
#pay_date{
	/* width:94px; */
	/* padding: 0px; */
	border:none;
	margin-left: 23%;
	
}

#employee_num{
	width:78px;
	padding:0px;
	border:none;
	margin-left:40px;
}

#gross-earnings{
	/* width:980px; */
	padding:0px;
	margin-top:15px;
}
#gross_area{
	margin-left:222px;

}

#rate{
	width:40px;
}

#hours{
	width:40px;
}
#hours_span{
	margin-left:40px;
}

#current_pay{
	width:80px;
	margin-left:50px;
}

#deductions{
	/* float:right; */
	/* margin-right: 40px; */
	/* margin-top:.7%; */

}

#fica_medi{
	margin: .8% 0 0 80.1%;
}

@-moz-document url-prefix() {
    #fica_medi{
		margin: .6% 0 0 80.1%;
    }
}
#fica_medi_total{
	width:40px;
}
#fica_medi_ytd{
	margin-left:60px;
	width:40px;
}

#fica_social{
	margin: .9% 0 0 80.1%;
}

@-moz-document url-prefix() {
    #fica_social{
		margin: .6% 0 0 80.1%;
    }
}

#fica_social_ytd{
	margin-left:60px;
    width:40px;
}

#fica_social_total{
	width:40px;
}
#fed_tax{
	/* height:32px; */
	margin:.9% 0 0 80.1%;
}
#federal_tax{
	width:40px;
}
#fed_ytd{
	margin-left:60px;
	width:40px;
}

#state_tax_div{
	/* height:32px; */
	margin:.9% 0 0 55.2%;
}

#state_tax{
	width:40px;
	margin: 0 0 0 38.5%;
}
#state_tax_ytd{
	width:40px;
	margin-left:60px;
}
#bottom-left{
	margin-top:8%;
	
}

#ytd_gross{
	width:70px;
	margin-left:4.9%;
	
}
#ytd_deductions{
	width:70px;
	margin-left:6.6%;
}
#ytd_net{
	width:70px;
	margin-left:9.8%;
}

@-moz-document url-prefix() {
    #ytd_net{
		margin-left: 9.5%;
    }
}

#total{
	width:60px;
	margin-left:18%;
}

@-moz-document url-prefix() {
    #total{
		margin-left: 17.5;
    }
}

#bottom_deductions{
	width:60px;
	margin-left:5.5%;
}
#net_pay{
	width:60px;
	margin-left:8.6%;
}
#checkout{
	float:right;
	margin-top:25px;
	border-radius:5px;
	background-color:#87C540;
	font-size:18px;
	width:90px;
}
#footer{
	text-align:center;
	margin-top:100px;
}
#footer a{
	text-decoration:none;
}
