#top{
	width:100%;
	padding-top:3.5%;
}

#pay_period_section{
	display: inline-block;
	float:right;
	margin:5.3% 7% 0 0
}

#pay_date{
	margin-top:7%;
}
#pay_end{
	margin-top:7%;
}

#company_name{
	display:inline-block;
	margin-left:6%;
	margin-top:1%;
}

#company_address_field{
	margin-top:6%;
}

#company_city_field{
	margin-top:6%;
}

#exemptions_info{
	display:inline-block;
	margin-top:7.4%;
	margin-left:22%;
}

#employee_address_info{
	display:inline-block;
	margin:1.5% 0 0 66%;
	/* float:right; */
}

#exemptions{
	margin-top:-26%;
}

#street_address{
	margin-top:-10%;
}

#city_state_zip{
	margin-top:-10%;
}
#earnings{
	margin-top:22.1%;
	margin-left:22.7%;
	width:49%;
}

#regular{
	/* width:70% */
}

.hours{
	width:21%;
}

.period{
	width:21%;
}

.ytd{
	width:21%;
}

/* earnings sections */
#overtime{
	margin-top:3%;
}

#vacation{
	margin-top:3%;
}

#gross{
	margin-top:3.8%;
}

#deductions{
	margin: 9.2% 0 0 47%;
}
#fed_ytd{
	margin-left:10.2%;
}

#soc_sec{
	margin-top:3.2%;
}

#state_selection{
	margin:1.4% 0 0 4.4%;
}

#net_pay{
	margin:8.7% 0 0 39.00%;
}

#comments{
	margin:2% 0 0 62%;
}

#state_select_box{
	border: 1px solid #fff; background-color: transparent; 
	font-family: 'Times New Roman', Times, serif; font-size:17px;
}

#state_period{
	margin-left:35.4%;
}

#state_ytd{
	margin-left:5.5%;
}

.inline{
	display:inline-block;
}
.rate{
	width:21%;
}


/* The Modal (background) */
.flash {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.flash-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
