#top{
	width:100%;
	padding-top:5%;
}

#pay_period_section{
	display: inline-block;
	float:right;
	margin:5% 7.5% 0 0
}

#pay_end{
	margin-top:4.5%;
}

#pay_date{
	margin-top:1%;
}

#company_name{
	display:inline-block;
	margin-left:6%;
	margin-top:1%;
}

#company_address_field{
	/* margin-top:6%; */
}

#company_city_field{
	/* margin-top:6%; */
}

#exemptions_info{
	display:inline-block;
	margin-top:5.5%;
	margin-left:22%;
}

#employee_address_info{
	display:inline-block;
	margin:4.5% 7% 0 0;
	float:right;
}

#exemptions{
	margin-top:2.9%;
}

#street_address{
	/* margin-top:4%; */
}

#city_state_zip{
	/* margin-top:3.6%; */
}
#earnings{
	margin-top:32.5%;
	margin-left:24%;
}

.hours{
	margin-left:6.5%;
}

.period{
	margin-left:6.6%;
}

.ytd{
	margin-left:7%;
}

/* earnings sections */
#overtime{
	margin-top:1.3%;
}

#vacation{
	margin-top:1.8%;
}

#gross{
	margin-top:1.4%;
}

#deductions{
	margin: 9.2% 0 0 48%;
}
#fed_ytd{
	margin-left:10%;
}

#soc_sec{
	margin-top:3.2%;
}

#state_selection{
	margin:1.4% 0 0 5.2%;
}

#net_pay{
	margin:6.3% 0 0 39%;
}

#comments{
	margin:2% 0 0 62%;
}

#state_select_box{
	border: 1px solid #fff; background-color: transparent; 
	font-family: 'Times New Roman', Times, serif; font-size:17px;
}

#state_period{
	margin-left:30.7%;
}

#state_ytd{
	margin-left:5.4%;
}