.borderless{
	border:none;
}

h1{
	font-family: 'Archivo Narrow', sans-serif;
	text-align:center;
	font-size:3em;
	
}

#check_two{
	margin-left:auto;
	margin-right:auto;
}

#earnings_statement{
width:100%;
padding-top: 22px;
margin-left: 65%;
}

#pay_period{
	margin-left:80px;
	margin-top:16px;
}

#pay_date{
	margin-left:80px;
}

#company_name{
	margin-left:70px;
}

#status_exemptions_and_names{
	margin-left: 160px;
}

#name_info{
	display: inline-block;
}

#name{
	margin-left:70px;
}

#street_address{
	margin-left:70px;
}

#city_state_zip{
	margin-left:234px;
}

#earnings{
	margin-top:60px;
}
.pay_rate{
		margin-left:142px;
}

#current_pay{
	margin-left:8px;
}
 
#rate{
	margin-left:142px;
	margin-top: 2px;
}

#ytd{
margin-left:5px;	
}

#hours{
	
}

#ot_pay_rate{
	margin-left:142px;
}

#ot_period{
	margin-left:8px;
}
#ot_ytd{
	margin-left: 5px;
}

#vac_ytd{
	margin-left: 5px;
}

#vac_pay_rate{
	margin-left:142px;
}

#vac_period{
	margin-left:8px;
}

#gross_pay{
	margin-left:287px;
}

#gross_ytd{
	margin-left:4px;
}
#deductions{
	margin-top:30px;
}

#fed_tax_period{
	margin-left: 287px;
}

#fed_tax_ytd{
	margin-left:4px;
}

#soc_tax_period{
	margin-left:287px;
}

#soc_tax_ytd{
	margin-left:4px;
}

#net_pay_comments{
	margin-top:11px;
}

#net_pay_total{
	margin-left:214px;
}

#comments{
	margin-left:360px;
}