<!DOCTYPE html>
<html>
<head>
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<script src="{{url_for('static',filename='checkstub.js')}}"></script>
	<link rel=stylesheet type=text/css href="{{url_for('static',filename='checkstub_done.css')}}">
	<link href='https://fonts.googleapis.com/css?family=Archivo+Narrow' rel='stylesheet' type='text/css'>
	
</head>
<body>
<h1> Make your own pay stub</h1>
<div id="pricing">
<span> Only $4.99 </span>
</div>
<!-- <form>
<p> EMPLOYEE NAME / ADDRESS <input id="name_address" type="text" value = "John Smith 123 Example st"> 
SSN <input id="ssn" type="text" value = "***-**-1234">
REPORTING PERIOD <input id="reporting_period" type="text" value="01/01/2016 - 01/07/2016"> 
PAY DATE <input id="pay_date" type="text" value="01/09/2016"> 
EMPLOYEE # <input id="employee_num" type="text" value="12345"> 
</p>
<br>
<p> RATE <input id="rate" type="text">
HOURS <input id="hours" type="text">
CURRENT PAY  <input id="current_pay" type="text" value="0">
</p>
<p> FICA - MEDICARE <input id="fica_medi_total" type="text" value="0"> </p>
<p> FICA - SOCIAL SECURITY <input id="fica_social_total" type = "text" value="0"> </p>
<p> FEDERAL TAX <input id="federal_tax" type="text" value="0"> </p>
<p> STATE TAX <input id="state_tax" type="text"> </p>
<p> TOTAL <input id="total" type="text">
    DEDUCTIONS <input id="deductions" type="text">
    NET PAY <input id="net_pay" type="text"> </p>
YTD GROSS <input id="ytd_gross" type="text"> 
YTD DEDUCTIONS <input id="ytd_deductions" type="text"> 
YTD NET PAY <input id="ytd_net" type="text"> 

</form>
--> 
<div>
<div id ="check-container">
<form action=""
method="post">
<div id="top-bar">
	<div class="finished_stub_items" id="emp_name"> <div id="name_address"> {{check.emp_name}}</div> </div>
	<div class="finished_stub_items" id="social"> <div id="ssn">{{check.social}}</div></div>
	<div class="finished_stub_items" id="rep_period"> <div id="reporting_period">{{check.rep_period}}</div></div>
	<div class="finished_stub_items" id="pay_date_span"> <div id="pay_date">{{check.pay_date}}</div></div>
	<div class="finished_stub_items" id="emp_num"> <div id="employee_num"> {{check.emp_num}}</div></div>
</div>
<div id="gross-earnings">
  <div id="gross_area">
	<div class="finished_stub_items" id="rate_span"><div id="rate">{{check.rate}}</div></div>
	<div class="finished_stub_items" id="hours_span"><div id="hours">{{check.hours}}</div></div>
	<div class="finished_stub_items" id="pay_span"> <div id="current_pay">{{check.current_pay}}</div> </div> 
  </div>
</div>
<div id="deductions"> 
	<div id="fica_medi"> <span id="fica_medi_total">{{check.fica_medi}}</span> <span id="fica_medi_ytd">{{check.fica_medi_ytd}}</span></div>
	<div id="fica_social"> <span id="fica_social_total">{{check.fica_social}}</span><span id="fica_social_ytd">{{check.fica_social_ytd}}</span></div>
	<div id="fed_tax"> <input id="federal_tax" type="text" value="0"> <input id="fed_ytd" type="text" value="0"></div>
	<div id="state_tax_div"> <input id="state_tax" type="text" value="0"> <input id="state_tax_ytd" type="text" value="0"> </div>
</div>
<div id="bottom-left">
	<input id="ytd_gross" type="text"> 
	<input id="ytd_deductions" type="text"> 
	<input id="ytd_net" type="text"> 
	<input id="total" type="text"> 
	<input id="bottom_deductions" type="text">
	<input id="net_pay" type="text"> 
</div>

<!-- <div> TOTAL <input id="total" type="text"> </div>
	<div> DEDUCTIONS <input id="deductions" type="text"> </div>
	<div> NET PAY <input id="net_pay" type="text"> </div>
	<div> YTD GROSS <input id="ytd_gross" type="text"> </div> 
	<div> YTD DEDUCTIONS <input id="ytd_deductions" type="text"> </div>
	<div> YTD NET PAY <input id="ytd_net" type="text"> </div> -->
	<input type="submit" id="checkout" value="checkout">
</form>
</div>
</div>
<div id="footer">
<a href="#"> faq </a> <a href="#"> chini </a> <a href="#"> mini </a>
</div>
</body>
</html>