<!DOCTYPE html>
<html>
<head>
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<script src="{{url_for('static',filename='checkstub.js')}}"></script>
	<link rel=stylesheet type=text/css href="{{url_for('static',filename='checkstub_done_v2.css')}}">
	<link href='https://fonts.googleapis.com/css?family=Archivo+Narrow' rel='stylesheet' type='text/css'>
	
</head>
<body>
 
<div>
<!--
<div id ="check-container">

<div id="top-bar">
	<div class="finished_stub_items" id="emp_name"> <div id="name_address"> {{check.emp_name}}</div> </div>
	<div class="finished_stub_items" id="social"> <div id="ssn">{{check.social}}</div></div>
	<div class="finished_stub_items" id="rep_period"> <div id="reporting_period">{{check.rep_period}}</div></div>
	<div class="finished_stub_items" id="pay_date_span"> <div id="pay_date">{{check.pay_date}}</div></div>
	<div class="finished_stub_items" id="emp_num"> <div id="employee_num"> {{check.emp_num}}</div></div>
</div>
<div id="gross-earnings">
  <div id="gross_area">
	<div class="finished_stub_items" id="rate_span"><div id="rate">{{check.rate}}</div></div>
	<div class="finished_stub_items" id="hours_span"><div id="hours">{{check.hours}}</div></div>
	<div class="finished_stub_items" id="pay_span"> <div id="current_pay">{{check.current_pay}}</div> </div> 
  </div>
</div>
<div id="deductions"> 
	<div id="fica_medi"> <span id="fica_medi_total">{{check.fica_medi}}</span> <span id="fica_medi_ytd">{{check.fica_medi_ytd}}</span></div>
	<div id="fica_social"> <span id="fica_social_total">{{check.fica_social}}</span><span id="fica_social_ytd">{{check.fica_social_ytd}}</span></div>
	<div id="fed_tax"> <span id="federal_tax">{{check.fed_tax}}</span><span id="fed_ytd">{{check.fed_ytd}}</span></div>
	<div id="state_tax_div"> <span name="state_tax">{{check.state_tax}}</span> <span id="state_tax_ytd">{{check.state_ytd}}</span></div>
</div>
<div id="bottom-left">
	<input id="ytd_gross" type="text"> 
	<input id="ytd_deductions" type="text"> 
	<input id="ytd_net" type="text"> 
	<input id="total" type="text"> 
	<input id="bottom_deductions" type="text">
	<input id="net_pay" type="text"> 
</div>
-->
<div id ="check-container">
<form action="{{url_for('check_stub')}}" method="post">
<div id="top-bar">
	<div id="emp_name" style='display:inline-block;'> <div id="name_address" style="display:inline-block"> {{check.emp_name}}</div> </div>
	<div id="social"  style='display:inline-block;'> <div style="display:inline-block" id="ssn">{{check.social}} </div></div>
	<div id="rep_period" style='display:inline-block;'> <div style="display:inline-block" name="rep_period" id="reporting_period">{{check.rep_period}}</div></div>
	<div id="pay_date_span" style='display:inline-block;'> <div style="display:inline-block" name="pay_date"id="pay_date">{{check.pay_date}}</div></div>
	<div id="emp_num" style='display:inline-block;'> <div name="emp_num" id="employee_num">{{check.emp_num}}</div>
</div>
<div id="gross-earnings">
  <div id="gross_area">
	<div id="rate_span" style='display:inline-block;'> <div name="rate" id="rate" style="display:inline-block">{{check.rate}}</div></div>
	<div id="hours_span" style='display:inline-block;'> <div name="hours" id="hours"> {{check.hours}}</div></div>
	<div id="pay_span" style='display:inline-block;'> <div name="current_pay" id="current_pay">{{check.current_pay}}</div></div> 
  </div>
</div>
<div id="deductions"> 
	<div id="fica_medi"> <div style='display:inline-block;' name="fica_medi" id="fica_medi_total">{{check.fica_medi}}</div> <div name="fica_medi_ytd" id="fica_medi_ytd" style='display:inline-block;'>{{check.fica_medi_ytd}}</div> </div>
	<div id="fica_social"> <div style='display:inline-block;' name="fica_social" id="fica_social_total">{{check.fica_social}}</div><div name="fica_social_ytd" id="fica_social_ytd" style='display:inline-block;'>{{check.fica_social_ytd}}</div></div>
	<div id="fed_tax"> <div name="fed_tax" id="federal_tax" style='display:inline-block;'>{{check.fed_tax}}</div> <div name="fed_ytd" id="fed_ytd" style='display:inline-block;'>{{check.fed_ytd}}</div></div>
	<div id="state_tax_div"> 
		<div id="state_selection" style='display:inline-block;'>{{check.state_selection}} Tax </div>
		<div style='display:inline-block;' name="state_tax" id="state_tax"> {{check.state_tax}}</div> 
		<div style='display:inline-block;' name="state_ytd" id="state_tax_ytd">{{check.state_ytd}}</div> 
	
	</div>
</div>
<div id="bottom-left">
	<div id="ytd_gross" style='display:inline-block;'>{{check.ytd_gross}}</div> 
	<div id="ytd_deductions" style='display:inline-block;'>{{check.ytd_deductions}}</div> 
	<div id="ytd_net" style='display:inline-block;'>{{check.ytd_net}}</div>
	<div id="total" style='display:inline-block;'>{{check.total}}</div> 
	<div id="bottom_deductions" style='display:inline-block;'>{{check.bottom_deductions}}</div>
	<div id="net_pay" style='display:inline-block;'>{{check.net_pay}}</div> 
</div>

<!-- <div> TOTAL <input id="total" type="text"> </div>
	<div> DEDUCTIONS <input id="deductions" type="text"> </div>
	<div> NET PAY <input id="net_pay" type="text"> </div>
	<div> YTD GROSS <input id="ytd_gross" type="text"> </div> 
	<div> YTD DEDUCTIONS <input id="ytd_deductions" type="text"> </div>
	<div> YTD NET PAY <input id="ytd_net" type="text"> </div> -->
	<!--<input type="submit" id="checkout" value="checkout"> -->
</form>
</div>
<!-- <div> TOTAL <input id="total" type="text"> </div>
	<div> DEDUCTIONS <input id="deductions" type="text"> </div>
	<div> NET PAY <input id="net_pay" type="text"> </div>
	<div> YTD GROSS <input id="ytd_gross" type="text"> </div> 
	<div> YTD DEDUCTIONS <input id="ytd_deductions" type="text"> </div>
	<div> YTD NET PAY <input id="ytd_net" type="text"> </div> -->

</div>
</div>
<div id="footer">
</div>
</body>
</html>