<!DOCTYPE html>
<html>
<head>
	<link href='https://fonts.googleapis.com/css?family=Archivo+Narrow' rel='stylesheet' type='text/css'>
	<link rel=stylesheet type=text/css href="/static/faq.css">
</head>
<body>
<h1>My Earnings Manager</h1> 
	<div>
		Q. Do we share your information?
			<div class="answer">- Absolutely not.</div>
		Q. Are you https encrypted?
			<div class="answer">- Yes.</div>
		Q. How do I print items? 
			<div class="answer">- You can print directly from Chrome. Make sure the background graphics option is selected</div>
			<div class="answer">- Alternatively you can use the snipping tool in Windows and save the item as a jpeg</div>
		
	</div>
</body>
</html>
