<DOCTYPE html>
<html>
<head>
	<link rel=stylesheet type=text/css href="/static/fullpageprint.css">
</head>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script>
$(document).ready(function(){
	$(window).click(function(){
		$('#myFlash').css("display", "none")
	})
	
});
</script>
{% with messages = get_flashed_messages() %}
				  {% if messages %}
					<div id="myFlash" class="flash">
						<div class="flash-content">
							<ul style="list-style-type:none" class=flashes>
							{% for message in messages %}
							<li>{{ message }}</li>
							{% endfor %}
							</ul>
								<input name='_csrf_token' type='hidden' value="{{state}}">
								<button id = "got_it">Continue</button>
						</div>
					</div>
					{% endif %}
					{% endwith %}
<body style="background-image:url('/static/fullpagecomplete.jpg');width:612px;height:792px; background-repeat:no-repeat;margin:background-color:grey;">
		<div id="top">
			<div id='company_name'>
				<span id="company_name_field"> {{check.company_name}}</span><br>
				<span id="company_address_field"> {{check.company_address}} </span> <br>
				<span id="company_city_field"> {{check.company_city}} </span>
			</div>
			<div id='pay_period_section'>
				<span id='pay_period'>{{check.pay_begin}}</span><br>
				<div id='pay_end'>{{check.pay_end}}</div>
				<div id='pay_date'> {{check.pay_date}}</div>
			</div>
		</div>
		<div id="employee_info_middle">
			<div id="exemptions_info">
				<div> {{check.status}}</div> <br> 
				<div id='exemptions'> {{check.exemptions}} </div>
			</div>
			
			<div id="employee_address_info">
				<div id='name'>{{check.emp_name}}</div> <br> 
				<div id='street_address'>{{check.emp_address}}</div><br>
				<div id='city_state_zip'>{{check.emp_city_state_zip}}</div>
			</div>
		</div>
		<div id="earnings">
			<div id='regular'> 
				<div class='rate' style='display:inline-block;'> {{check.reg_rate}} </div> 
				<div style='display:inline-block;' class='hours'> {{check.reg_hours}}</div>
				<div style='display:inline-block;' class='period'>{{check.reg_period}}</div>
				<div style='display:inline-block;' class='ytd'>{{check.reg_ytd}}</div>
			</div>
			
			<div id='overtime'> 
				<div class='rate inline'  size='1' value='0.00'>{{check.ov_rate}}</div>
				<div class='hours inline'> {{check.ov_hours}}</div>
				<div class='period inline' class='inline'>{{check.ov_period}}</div>
				<div class='ytd inline' class='inline'>{{check.ov_ytd}}</div>
			</div>
			
			<div id='vacation'> 
				<div class='rate inline'>{{check.vac_rate}}</div>
				<div class='hours inline'> {{check.vac_hours}}</div>
				<div class='period inline'>{{check.vac_period}}</div>
				<div class='ytd inline'>{{check.vac_ytd}}</div>
			</div>
			
			<div id='gross'> 
				<div class='rate inline' style="visibility:hidden;"> 0.00 </div>
				<div class='hours inline' style="visibility:hidden;"> 0.00 </div>
				<div class='period inline'>{{check.gross_period}}</div>
				<div class='ytd inline'>{{check.gross_ytd}}</div>
			</div>
		</div>
		
		<div id="deductions">
		<div id="fed_income">
			<div id="ded_period" class="inline">{{check.fed_period}}</div>
			<div class="inline" id='fed_ytd'>{{check.fed_ytd}}</div>
		</div>
		
		<div id="soc_sec">
			<div id="soc_sec_period" class="inline">{{check.soc_period}}</div>
			<div class="inline" id='soc_sec_ytd'>{{check.soc_ytd}}</div>
		</div>
		
		</div>
		<div id="state_selection" style="">
			
			<div id="state_code" class="inline"> {{check.state_selection}} Tax</div>
			<div class="inline" id='state_period'>{{check.state_period}}</div>
			<div class="inline" id='state_ytd'>{{check.state_ytd}}</div>

		</div>
		
		<div id="net_pay">
			<span> {{check.net_pay}} </span>
		</div>
		
		<div id="comments">
			<div name="comments"> 
				{{check.comments}}
			</div>
		</div>
</body>
</html>