<!DOCTYPE html>
<html>
<head> 
	<link rel=stylesheet type=text/css href="/static/checkstub.css">
	<link href='https://fonts.googleapis.com/css?family=Archivo+Narrow' rel='stylesheet' type='text/css'>
</head>
<body>
<h1>StubMaker</h1>
<h3 style="font-family:'Archivo Narrow', sans-serif;">Create earnings statement from template</h3>
	<div id='stub_templates' style='background-color:grey'>
		<a href="{{url_for('full_page_template')}}"><img src='/static/checktemplate2mark.jpg' width='200px' height='200px' style='padding:10px;'></a>
		<a href="{{url_for('main_template')}}"><img src='/static/thestubpreview.jpg' width='275px' height='180px' style='padding:10px;'></a>
	</div>
<h3 style="font-family:'Archivo Narrow', sans-serif;">My Statements</h3>
	<div>
		{%for i in stubs%}
			<a style="font-family: 'Archivo Narrow', sans-serif; font-size:3em;" href="{{url_for('viewCheck',check_id=i.id)}}">{{i.pay_date}}</a> <br>
		{%endfor%}
		{%for i in statements%}
			<a style="font-family: 'Archivo Narrow', sans-serif; font-size:3em;" href="">{{i.pay_date}}</a> <br>
		{%endfor%}
	</div>
</body>
</html>