<DOCTYPE html>
<html>
<head>
<link rel=stylesheet type=text/css href="/static/templatethree.css">
</head>
<body style="background-color:grey;">
	<div style="background-image:url('/static/fullpage3.jpg');width:612px;height:792px; background-repeat:no-repeat;margin:background-color:grey;">
		<div id="top">
			<div id='company_name'>
				<input name='company_name' type='text' id="company_name_field" value='Company Name'> <br>
				<input name='company_address' type='text' id="company_address_field" value='123 Company Ave'> <br>
				<input name='company_city' type='text' id="company_city_field" value='San Francisco, CA 94103'>
			</div>
			<div id='pay_period_section'>
				<input name="pay_period" type='text' id='pay_period' size='4'> <br>
				<input name="pay_date" type='text' id='pay_date' size='4'>
			</div>
		</div>
		<div id="employee_info_middle">
			<div  id="exemptions_info">
				<input name='status' type='text' value='status'> <br> 
				<input name='exemptions' id='exemptions' type='text' value='2'>
			</div>
			
			<div id="employee_address_info">
				<input name="emp_name" type='text' id='name' value='John Doe'> <br> 
				<input name='emp_address' type='text' id='street_address' value='123 Street Ave'> <br>
				<input name='emp_city_state_zip' type='text' id='city_state_zip' value='San Francisco CA 94103'>
			</div>
		</div>
		<div id="earnings">
			<div id='regular'> 
				<input name="reg_rate" type='text' id='rate' size='1' value='0.00'> 
				<input name="reg_hours" type='text' class='hours' size='1' value='0.00'>
				<input name='reg_period' type='text' class='period' size='1' value='0.00'>
				<input name='reg_ytd' type='text' class='ytd' size='1' value='0.00'>
			</div>
			
			<div id='overtime'> 
				<input name="ov_rate" type='text' id='rate' size='1' value='0.00'> 
				<input name="ov_hours" type='text' class='hours' size='1' value='0.00'>
				<input name='ov_period' type='text' class='period' size='1' value='0.00'>
				<input name='ov_ytd' type='text' class='ytd' size='1' value='0.00'>
			</div>
			
			<div id='vacation'> 
				<input name="vac_rate" type='text' id='rate' size='1' value='0.00'> 
				<input name="vac_hours" type='text' class='hours' size='1' value='0.00'>
				<input name='vac_period' type='text' class='period' size='1' value='0.00'>
				<input name='vac_ytd' type='text' class='ytd' size='1' value='0.00'>
			</div>
			
			<div id='gross'> 
				<input name="gross_rate" type='text' id='rate' size='1' value='0.00'> 
				<input name="gross_hours" type='text' class='hours' size='1' value='0.00'>
				<input name="gross_period" type='text' class='period' size='1' value='0.00'>
				<input name="gross_ytd" type='text' class='ytd' size='1' value='0.00'>
			</div>
		</div>
		
		<div id="deductions">
		<div id="fed_income">
			<input name="fed_period" size='1' class="ded_period">
			<input name="fed_ytd" size='1' id='fed_ytd'>
		</div>
		
		<div id="soc_sec">
			<input name="soc_period" size='1'>
			<input name="soc_ytd" size='1' id='fed_ytd'>
		</div>
		
		</div>
		<div id="state_selection" style="">
			<select name='state_selection' id="state_select_box">
				<option value="AL Tax">AL Tax</option>
				<option value="AK">AK Tax</option>
				<option value="AZ">AZ Tax</option>
				<option value="AR">AR Tax</option>
				<option value="CA">CA Tax</option>
				<option value="CO">CO Tax</option>
				<option value="CT">CT Tax</option>
				<option value="DE">DE Tax</option>
				
				<option value="FL">FL Tax</option>
				<option value="GA">GA Tax</option>
				<option value="HI">HI Tax</option>
				<option value="ID">ID Tax</option>
				<option value="IL">IL Tax</option>
				<option value="IN">IN Tax</option>
				<option value="IA">IA Tax</option>
				<option value="KS">KS Tax</option>
				
				<option value="KY">KY Tax</option>
				<option value="LA">LA Tax</option>
				<option value="ME">ME Tax</option>
				<option value="MD">MD Tax</option>
				<option value="MA">MA Tax</option>
				<option value="MI">MI Tax</option>
				<option value="MN">MN Tax</option>
				<option value="MS">MS Tax</option>
				
				<option value="MO">MO Tax</option>
				<option value="MT">MT Tax</option>
				<option value="NE">NV Tax</option>
				<option value="NV">NV Tax</option>
				<option value="NH">NH Tax</option>
				<option value="NJ">NJ Tax</option>
				<option value="NM">NM Tax</option>
				<option value="NY">NY Tax</option>
				
				<option value="NC">NC Tax</option>
				<option value="ND">ND Tax</option>
				<option value="OH">OH Tax</option>
				<option value="OK">OK Tax</option>
				<option value="NH">NH Tax</option>
				<option value="NJ">NJ Tax</option>
				<option value="NM">NM Tax</option>
				<option value="NY">NY Tax</option>
				
				
			</select>
			
			<input name='state_period' id='state_period' type='text' size='1'>
			<input name='state_ytd' id='state_ytd' type='text' size='1'>

		</div>
		
		<div id="net_pay">
			<input name='net_pay' size='3'>
		</div>
		
		<div id="comments">
			<textarea name="comments"> 
			</textarea>
		</div>
	</div>
</body>
</html>