<DOCTYPE html>
<html>
<head>
<link rel=stylesheet type=text/css href="/static/templatethree.css">
</head>
<body style="background-color:grey;">
	<div style="background-image:url('/static/fullpageguide.jpg');width:612px;height:792px; background-repeat:no-repeat;margin:background-color:grey;">
		<div id="top">
			<div id='company_name'>
				<input type='text' id="company_name_field" value='Company Name'> <br>
				<input type='text' id="company_address_field" value='123 Company Ave'> <br>
				<input type='text' id="company_city_field" value='San Francisco, CA 94103'>
			</div>
			<div id='pay_period_section'>
				<input name="rep_period" type='text' id='pay_period' size='4'> <br>
				<input name="pay_date" type='text' id='pay_date' size='4'>
			</div>
		</div>
		<div id="employee_info_middle">
			<div  id="exemptions_info">
				<input name='status' type='text' value='status'> <br> 
				<input name='exemptions' id='exemptions' type='text' value='2'>
			</div>
			
			<div id="employee_address_info">
				<input name="emp_name" type='text' id='name' value='John Doe'> <br> 
				<input type='text' id='street_address' value='123 Street Ave'> <br>
				<input type='text' id='city_state_zip' value='San Francisco CA 94103'>
			</div>
		</div>
	</div>
</body>
</html>